{% extends "strona/base.html" %}

{% block title %}Notatki{% endblock %}

{% block content %}
<h2>Lista notatek</h2>

<ul>
    {% for note in page_obj %}
        <li>
            <a href="{% url 'note-detail' note.id %}">
                {{ note.title }}
            </a>
        </li>
    {% empty %}
        <li>Brak notatek.</li>
    {% endfor %}
</ul>

<div>
    {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number }}">poprzednia</a>
    {% endif %}

    <span>
        Strona {{ page_obj.number }} z {{ page_obj.paginator.num_pages }}
    </span>

    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">następna</a>
    {% endif %}
</div>
{% endblock %}